.root {
    display: flex;
    height: 105px;
}

.navBar {
    margin-left: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    max-width: 490px;
    justify-content: space-between;
    padding: 40px 0;
    gap: 240px;
}

.menu li {
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 26px;
    position: relative;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: var(--color-orange);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu li:hover::after,
.menu li.active::after {
    transform: scaleX(1);
}

.menu li:hover,
.menu li.active { 
    cursor: pointer;
}
