.root {
    display: flex;
    height: 105px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.logo_container {
    position: absolute;
    top: 53px;
    cursor: pointer;
    transform-origin: top center;
}

.logo {
    max-height: 85vh;
    fill: var(--white-color);
}

.navBar {
    width: 100%;
}

.menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    max-width: 490px;
    justify-content: space-between;
    padding: 40px 0;
}

.menu li {
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 26px;
    position: relative;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: var(--orange-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu li:hover::after,
.menu li.active::after {
    transform: scaleX(1);
}

.menu li:hover,
.menu li.active {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 22px;
        padding: 28px 0;

    }
}

@media screen and (max-width: 700px) {
    .logo_container {
        top: 28px;
    }

    .logo {
        max-height: 40vh;
        width: auto;
    }
}