.root {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.bottom_menu_wrapper{
    display: flex;
    flex-direction: row;
    width: 254px;
    align-items: flex-end;
    justify-content: space-between;
}

.cities {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.location {
    font-size: 1.25rem;
    color: var(--color-grey);
    margin-left: 16px;
}
