.root {
    max-width: 856px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 12px;
    margin-bottom: 38px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    align-items: center;
    margin-bottom: 44px;
    justify-content: space-between;
}

.project_name {
    font-size: 1.5rem;
    line-height: 31px;
    margin-bottom: 8px;
}

.link {
    font-size: 1.5rem;
    line-height: 31px;
    text-decoration: underline;
}

.header {
    margin-top: 8px;
    font-size: 1rem;
    color: var(--grey-color-2);
    line-height: 19px;
}

.bottom_image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 126px;
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        align-items: flex-start;
    }

    .button {
        margin-top: 16px;
    }
}