  .closeButton {
      position: absolute;
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 24px;
      height: 24px;
      padding: 0;
      opacity: 0;
      transform: scale(0.5);
      animation: fadeInScale 0.5s ease-out forwards;
  }

  .closeButton::before,
  .closeButton::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      background: var(--color-grey);
      border-radius: 2px;
      transform: translate(-50%, -50%);
  }

  .closeButton::before {
      transform: translate(-50%, -50%) rotate(45deg);
  }

  .closeButton::after {
      transform: translate(-50%, -50%) rotate(-45deg);
  }

  .closeButton:hover::before {
      transform: translate(-50%, -50%) rotate(225deg);
      background-color: var(--color-orange);
  }

  .closeButton:hover::after {
      transform: translate(-50%, -50%) rotate(135deg);
      background-color: var(--color-orange);
  }

  .closeButton::before,
  .closeButton::after {
      transition: background-color 0.3s ease, transform 0.3s ease;
  }

  @keyframes fadeInScale {
      0% {
          opacity: 0;
          transform: scale(0.5);
      }

      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
