.photo_container {
    overflow: hidden;
    width: 164px;
    height: 164px;
    margin-bottom: 12px;
}

.person_photo {
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
    object-fit: contain;
    margin-bottom: 16px;
}

.person_photo:hover {
    transform: scale(1.1);
}

.person_role {
    font-size: 0.875rem;
    line-height: 15px;
    margin-bottom: 8px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;

}

.person_name {
    font-size: 1rem;
    line-height: 19px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media screen and (max-width: 700px) {
    .photo_container {
        width: 120px;
        height: 120px;
    }
}