.form {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
    row-gap: 12px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.text_area_wrapper {
    position: relative;
    width: 100%;
}

.inputField,
.text_area {
    width: 100%;
    background-color: var(--main-bg-color-2);
    border: none;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: 1rem;
    line-height: 24px;
    padding: 0 10px;
    padding-left: 36px;
    outline: none;
}

.inputField::selection,
.text_area::selection {
    background: var(--orange-color);
    color: var(--white-color);
    ;
}

.inputField::spelling-error,
.text_area::spelling-error {
    color: var(--orange-color);
}

.inputField:-webkit-autofill,
.text_area:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--main-bg-color-2) inset;
    -webkit-text-fill-color: var(--white-color);
    ;
    color: var(--white-color);
    ;
    transition: background-color 5000s ease-in-out 0s;
}

.inputWrapper::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 15px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.errorMessage {
    margin-top: 4px;
    color: var(--orange-color);
}

.emailIcon::before {
    background-image: url('../../../../public/assets/icons/Envelop.svg');
}

.phoneIcon::before {
    background-image: url('../../../../public/assets/icons/Phone.svg');
}

.nameIcon::before {
    background-image: url('../../../../public/assets/icons/Person.svg');
}

.companyIcon::before {
    background-image: url('../../../../public/assets/icons/Company.svg');
}

.industryIcon::before {
    background-image: url('../../../../public/assets/icons/Industry.svg');
}

.text_area_wrapper::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 15px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.messageIcon::before {
    background-image: url('../../../../public/assets/icons/request.svg');
}

.doubleCell {
    grid-column: span 2;
}

.inputField::placeholder,
.text_area::placeholder {
    color: var(--color-grey);
    opacity: 1;
}

.inputField:focus,
.text_area:focus {
    border-bottom-color: var(--orange-color);
}

.inputField {
    height: 44px;
}

.text_area {
    margin-top: 12px;
    height: 84px;
}

.message {
    margin-bottom: 32px;
}

.doubleCell {
    grid-column: span 2;
}

.button {
    grid-column: 2;
    margin-left: auto;
}

.submitStatus {
    margin-top: 20px;
    font-size: 16px;
}

.success {
    color: var(--white-color);
}

.error {
    color: var(--orange-color)d;
}

@media screen and (max-width: 700px) {
    .form {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

}