
.button {
    min-height: 40px;
    width: fit-content;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--orange-color);
    font-size: 16px;
    color: var(--color-black);
    border-radius: 100px;
    border: none;
    transition: transform 0.3s ease;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}