.wrapper {
    max-width: 856px;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 12px;
    margin-bottom: 38px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}

.project_name {
    font-size: 1.5rem;
    line-height: 31px;
    text-decoration: underline;
    margin-bottom: 8px;
}

.header {
    font-size: 1rem;
    color: var(--grey-color-2);
    line-height: 19px;
}

.description {
    font-size: 1.25rem;
    line-height: 26px;
    margin-bottom: 8px;
}

.year {
    font-size: 1rem;
    line-height: 19px;
    color: var(--grey-color-2);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    margin-bottom: 126px;
}

.layout_image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        align-items: flex-start;
    }

    .button {
        margin-top: 16px;
    }
}