.root {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 20px 84px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.root span {
    font-size: 0.75rem;
    line-height: 15px;
    color: var(--grey-color-3);
}