.root {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 856px) 1fr;
    gap: 20px;
    padding-bottom: 84px;
}

.logo_container {
    margin: -53px auto 0 auto;
    padding-left: 20px;
    z-index: 52;
    cursor: pointer;
}

.logo {
    max-width: 72px;
    height: auto;
    fill: var(--white-color);
}

.menuList {
    margin-top: 12px;
    margin-bottom: 16px;
}

.menuHeader {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.menuItem {
    font-size: 1rem;
    margin-bottom: 12px;
    margin-left: 8px;
    position: relative;
    display: block; 
}

.menuItem a {
    display: inline-block; 
    position: relative; 
}

.menuItem a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 100%;
    height: 1px;
    background-color: var(--white-color); 
    transform-origin: bottom right;
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.menuItem a:hover::after {
    transform: scaleX(1); 
}

.menuItem a:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .root {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 30px;
    }
    .logo {
        max-width: 20px;
    }
    .logo_container {
        width: fit-content;
        margin: -60px 0;
    }
}